In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from statsmodels.graphics.mosaicplot import mosaic
from scipy import stats as spst
import statsmodels.api as sm

userID = 유저 ID
jobID = 채용 공고 ID
applied = 채용 결과

tagID = 각 직업의 관련 키워드(여러개 존재 가능)

keyword = tagID에 따른 실제 키워드 이름

companyID = 회사 ID

companySize = 회사 규모

In [2]:
# train.csv 데이터 불러오기
tr = pd.read_csv("../data/train_job/train.csv")
tr.head()

                             userID                             jobID  applied
0  fe292163d06253b716e9a0099b42031d  15de21c670ae7c3f6f3f1f37029303c9        0
1  6377fa90618fae77571e8dc90d98d409  55b37c5c270e5d84c793e486d798c01d        0
2  8ec0888a5b04139be0dfe942c7eb4199  0fcbc61acd0479dc77e3cccc0f5ffca7        1
3  f862b39f767d3a1991bdeb2ea1401c9c  3b5dca501ee1e6d8cd7b905f4e1bf723        0
4  cac14930c65d72c16efac2c51a6b7f71  287e03db1d99e0ec2edb90d079e142f3        0

In [56]:
print(pd.DataFrame(user_tags.loc[user_tags.userID=="u1","tagID"].values,columns=["tagID"]).isin(job_tags.loc[job_tags.jobID=="0fcbc61acd0479dc77e3cccc0f5ffca7", "tagID"]))
print(user_tags.loc[user_tags.userID=="u1","tagID"].values)
print(job_tags.loc[job_tags.jobID=="0fcbc61acd0479dc77e3cccc0f5ffca7", "tagID"])
# for i in user_tags.loc[user_tags.userID=="u1","tagID"].values :

   tagID
0  False
1  False
2  False
3  False
4  False
5  False
6  False
7  False
['Android' 'Raspberry Pi' 'MVC' 'IoT' 'Linux' '.NET' 'Python' 'Tensorflow']
1334      Swift
1335    Android
3073        iOS
Name: tagID, dtype: object

In [53]:
user_tags.loc[user_tags.userID=="u1","tagID"],

6            Android
7       Raspberry Pi
24               MVC
25               IoT
156            Linux
163             .NET
1207          Python
1326      Tensorflow
Name: tagID, dtype: object

In [44]:
job_tags.loc[job_tags.jobID=="0fcbc61acd0479dc77e3cccc0f5ffca7"]

                                 jobID    tagID
1334  0fcbc61acd0479dc77e3cccc0f5ffca7    Swift
1335  0fcbc61acd0479dc77e3cccc0f5ffca7  Android
3073  0fcbc61acd0479dc77e3cccc0f5ffca7      iOS

In [3]:
# job_tags.csv 데이터 불러오기
job_tags = pd.read_csv("../data/train_job/job_tags.csv")
job_tags.head()

                              jobID                             tagID
0  320722549d1751cf3f247855f937b982  d38901788c533e8286cb6400b40b386d
1  e744f91c29ec99f0e662c9177946c627  3948ead63a9f2944218de038d8934305
2  e744f91c29ec99f0e662c9177946c627  0e095e054ee94774d6a496099eb1cf6a
3  e820a45f1dfc7b95282d10b6087e11c0  7d771e0e8f3633ab54856925ecdefc5d
4  e820a45f1dfc7b95282d10b6087e11c0  6c8dba7d0df1c4a79dd07646be9a26c8

In [4]:
# tags.csv 데이터 불러오기
tags = pd.read_csv("../data/train_job/tags.csv")
tags.head()

                              tagID                   keyword
0  602d1305678a8d5fdb372271e980da6a  Amazon Web Services(AWS)
1  e3251075554389fe91d17a794861d47b                Tensorflow
2  a1d50185e7426cbb0acad1e6ca74b9aa                    Docker
3  884d79963bd8bc0ae9b13a1aa71add73                       Git
4  4122cb13c7a474c1976c9706ae36521d                    Python

In [5]:
# job_companies.csv 데이터 불러오기
job_com = pd.read_csv("../data/train_job/job_companies.csv")
job_com.head()

,companyID,jobID,companySize
0,00411460f7c92d2124a67ea0f4cb5f85,e5f6ad6ce374177eef023bf5d0c018b6,NaN
1,1905aedab9bf2477edc068a355bba31a,185e65bc40581880c4f2c82958de8cfe,11-50
2,89fcd07f20b6785b92134bd6c1d0fa42,0537fb40a68c18da59a35c2bfe1ca554,101-200
3,acf4b89d3d503d8252c9c4ba75ddbf6d,b7ee6f5f9aa5cd17ca1aea43ce848496,1-10
4,fb7b9ffa5462084c5f4e7e85a093e6d7,efe937780e95574250dabe07151bdc23,NaN

In [6]:
# user_tags.csv 데이터 불러오기
user_tags = pd.read_csv("../data/train_job/user_tags.csv")
user_tags.head()

                             userID                             tagID
0  e576423831e043f7928d9ac113abbe6f  82c2559140b95ccda9c6ca4a8b981f1e
1  e576423831e043f7928d9ac113abbe6f  2ba8698b79439589fdd2b0f7218d8b07
2  e576423831e043f7928d9ac113abbe6f  351b33587c5fdd93bd42ef7ac9995a28
3  e576423831e043f7928d9ac113abbe6f  81e5f81db77c596492e6f1a5a792ed53
4  e576423831e043f7928d9ac113abbe6f  0e095e054ee94774d6a496099eb1cf6a

tr.head() &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// 'userID', 'jobID', 'applied'

job_tags.head() &nbsp;&nbsp;&nbsp;&nbsp;  // 'jobID', 'tagID'

tags.head()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// 'tagID', 'keyword'

job_com.head()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// 'companyID', 'jobID', 'companySize'

user_tags.head()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// 'userID', 'tagID'

In [7]:
# tagID를 키워드로 바꿔주는 함수
def changeTag(x) :
    a = tags.loc[tags.tagID == x].values[0,1]
    return a

In [8]:
# tagID를 가진 데이터들의 tagID값을 키워드로 변환
job_tags.tagID = job_tags.tagID.map(changeTag)
user_tags.tagID = user_tags.tagID.map(changeTag)

In [9]:
# 확인
user_tags.head()

                             userID        tagID
0  e576423831e043f7928d9ac113abbe6f        JUnit
1  e576423831e043f7928d9ac113abbe6f       Spring
2  e576423831e043f7928d9ac113abbe6f    WebSocket
3  e576423831e043f7928d9ac113abbe6f  Spring Boot
4  e576423831e043f7928d9ac113abbe6f   JavaScript

In [10]:
# userID 짧게 바꾸기

In [11]:
# user id 확인 및 변환 값 저장
dic_tmp = {}
for i in range(len(user_tags.userID.unique())):
    dic_tmp[user_tags.userID.unique()[i]] = f"u{i}"

In [12]:
# 변환
user_tags.userID = user_tags.userID.map(dic_tmp)
tr.userID = tr.userID.map(dic_tmp)

In [13]:
# 결측치 확인
print(tr.isnull().sum())
print("=====================")
print(user_tags.isnull().sum())
print("=====================")
print(job_tags.isnull().sum())
print("=====================")
print(tags.isnull().sum())
print("=====================")
print(job_com.isnull().sum())

userID     0
jobID      0
applied    0
dtype: int64
=====================
userID    0
tagID     0
dtype: int64
=====================
jobID    0
tagID    0
dtype: int64
=====================
tagID      0
keyword    0
dtype: int64
=====================
companyID       0
jobID           0
companySize    90
dtype: int64

In [14]:
# 중복값 확인
print("user_tags 중복 개수:", user_tags.duplicated().sum())
print("job_tags 중복 개수:", job_tags.duplicated().sum())
print("tags 중복 개수:", tags.duplicated().sum())
print("job_com 중복 개수:", job_com.duplicated().sum())
print("tr 중복 개수:", tr.duplicated().sum())

user_tags 중복 개수: 14612
job_tags 중복 개수: 0
tags 중복 개수: 0
job_com 중복 개수: 0
tr 중복 개수: 0

In [15]:
# user_tags 중복값 제거
user_tags = user_tags.drop_duplicates().reset_index(drop=True)
print("중복 갯수 : ", user_tags.duplicated().sum())
user_tags.head()

중복 갯수 :  0

  userID        tagID
0     u0        JUnit
1     u0       Spring
2     u0    WebSocket
3     u0  Spring Boot
4     u0   JavaScript